<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/participants"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar participante' : 'Nuevo participante' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="loading">
        @if (loading) {
          <ion-spinner name="crescent" slot="end"></ion-spinner>
        }
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page">
    <div class="surface-panel">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          [(ngModel)]="firstName"
          placeholder="Nombre"
          [disabled]="loading"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input
          [(ngModel)]="lastName"
          placeholder="Apellido"
          [disabled]="loading"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-input
          type="date"
          [(ngModel)]="birthDate"
          [disabled]="loading"
        ></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
